# На примере данного файла создайте свой файл .env
# Вставьте свои значение вместо примера
# Передайте_ключ_из_файла_setting.py_конфигурации проекта без ('' "")
SECRET_KEY=django-insecure11111111

# Передайте значение True или False
DEBUG=False

# Впишите данные вашей базы данных PostgreSQL
# Данные ниже для примера
NAME=database_example
USER=example
PASSWORD=0000
HOST=localhost
PORT=5432

# Впишите данные для работы почтового сервиса
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=111
EMAIL_USE_TLS=True_or_False
EMAIL_USE_SSL=True_or_False
EMAIL_HOST_USER=example@mail.com
EMAIL_HOST_PASSWORD=password


# Задайте значение для кеша:
LOCATION=redis://127.0.0.1:6379/0-15example