{% extends "mailflow/base.html" %}
{% block content %}

<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="col">
            <div class="card shadow-sm">
                <div class="card-body">
                    <p class="card-text">Время отправки: {{ object.time_mail }}</p>
                    <p class="card-text">Статус: {{ object.get_status_display }}</p>
                    <p class="card-text">Рассылка: {{ object.newsletter }}</p>
                    <p class="card-text">Ответ сервера: {{ object.response_server }}</p>
                    <p class="card-text">Получатель: {{ object.recipient }}</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{% url 'mailflow:attempts_list' %}" role="button">
                                Назад
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}