{% extends "mailflow/base.html" %}

{% block content %}

<div class="container mt-5">

    <h1>MAILFLOW</h1>
    {% if user.is_manager %}
    <h3>Добро пожаловать!</h3>
    <h5>{{ user.email }}</h5>
    <h5>Очень рады видеть вас снова, все возможности сервиса для вас доступны.</h5>
    <h5>Менеджер:</h5>
    <h6>1. Просмотр всех клиентов и рассылок.</h6>
    <h6>2. Просмотр списка пользователей сервиса.</h6>
    <h6>3. Блокировка пользователей сервиса.</h6>
    <h6>4. Отключение рассылок.</h6>

    {% elif user.is_authenticated %}
    <h3>Добро пожаловать!</h3>
    <h5>{{ user.email }}</h5>
    <h6>Очень рады видеть вас снова, все возможности сервиса для вас доступны.</h6>

    <div class="row mt-5">

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Всего рассылок</h5>
                    <p>{{ total_mailings }}</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Активные рассылки</h5>
                    <p>{{ active_mailings }}</p>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5>Получатели</h5>
                    <p>{{ total_recipients }}</p>
                </div>
            </div>
        </div>

    </div>

    {% else %}
    <h3>Добро пожаловать!</h3>
    <h5>Наш сервис предоставляет большие возможности для организации рассылок и их мониторинга.</h5>
    <h6>Просто войдите в систему, интуитивно понятный интерфейс все сам расскажет!</h6>
    {% endif %}

</div>

{% endblock %}
