
<div class="navbar navbar-default navbar-fixed-top" role="navigation" id="slide-nav">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-toggle">
                <span class="sr-only">Открыть меню</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="navbar-brand" href="https://bootstraptema.ru/">BootstrapТема</a>
        </div>

        <div id="slidemenu">

            <form class="navbar-form navbar-right" role="form">
                <div class="form-group">
                    <input type="search" placeholder="Найти" class="form-control">
                </div>
                <button type="submit" class="btn btn-default">Поиск</button>
            </form>

            <ul class="nav navbar-nav">
                <li class="active"><a href="http://bootstraptema.ru/">Главная</a></li>
                <li><a href="https://bootstraptema.ru/stuff/templates_bootstrap/1">Шаблоны</a></li>
                <li><a href="https://bootstraptema.ru/stuff/plugins_bootstrap/2">Плагины</a></li>
                <li><a href="https://bootstraptema.ru/stuff/snippets_bootstrap/3">Сниппеты</a></li>
                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ещё <b
                        class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://bootstraptema.ru/stuff/0-0-0-0-1">Заработать</a></li>
                        <li><a href="https://bootstraptema.ru/index/best_for_bootstrap/0-4">Топ 100</a></li>
                        <li><a href="https://bootstraptema.ru/index/feedback/0-3">Связь</a></li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>