<nav class="navbar navbar-expand-lg bg-dark" id="slide-nav" role="navigation">
    <div class="container">
        <a class="navbar-brand text-light" href="#">MAILFLOW</a>

        {% if request.resolver_match.url_name == 'mailings_list' %}
        <a class="nav-link text-light mx-2" href="{% url 'mailflow:mailings_create' %}">Добавить рассылку</a>
        {% endif %}

        {% if request.resolver_match.url_name == 'recipients_list' %}
        <a class="nav-link text-light mx-2" href="{% url 'mailflow:recipients_create' %}">Добавить получателя</a>
        {% endif %}

        <!-- Кнопка для мобильной версии -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#slidemenu"
                aria-controls="slidemenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="slidemenu">
            <!-- Форма поиска -->
            <form class="d-flex mb-3 mb-lg-0" role="search">
                <div class="input-group">
                    <input type="search" class="form-control" placeholder="Найти" aria-label="Найти">
                    <button class="btn btn-outline-light" type="submit">Поиск</button>
                </div>
            </form>

            <!-- Основное меню -->
            <ul class="navbar-nav nav-pills ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'mailings_list' %}active{% endif %} text-light"
                       href="{% url 'mailflow:mailings_list' %}">Рассылки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Шаблоны сообщений</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'recipients_list' %}active{% endif %} text-light"
                       href="{% url 'mailflow:recipients_list' %}">Получатели</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Мониторинг</a>
                </li>
                <!-- Выпадающее меню -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ещё
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Регистрация</a></li>
                        <li><a class="dropdown-item" href="#">Техническая поддержка</a></li>
                        <li><a class="dropdown-item" href="#">Связь</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>