{% extends "mailflow/base.html" %}
{% block content %}

<div class="container mt-5">
    <div class="card col-6 mx-auto">
        <div class="card-body">
            <h3 class="mb-3">
                Новый пароль
            </h3>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-primary">
                    Сохранить новый пароль
                </button>

            </form>
        </div>
    </div>
</div>

{% endblock %}